.container {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10000;
}

.card {
    background-color: white;
    width: 680px;
    height: 100vh;
    float: right;
    max-height: 100%;
    overflow-x: auto;
}

.cardHeading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin-left: 1rem;
    user-select: none;
}